@import url('header.css');
@import url('hero.css');
@import url('components.css');
@import url('sobremim.css');
@import url('skills.css');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'ClashDisplay';
    src: url('../assets/fonts/ClashDisplay-Extralight.otf') format('opentype');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('../assets/fonts/ClashDisplay-Light.otf') format('opentype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('../assets/fonts/ClashDisplay-Regular.otf') format('opentype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('../assets/fonts/ClashDisplay-Medium.otf') format('opentype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('../assets/fonts/ClashDisplay-Semibold.otf') format('opentype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('../assets/fonts/ClashDisplay-Bold.otf') format('opentype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

:root {
--font-text: 'Poppins', sans-serif;
--font-title: 'ClashDisplay', sans-serif;
--header-offset: 50px;

--size-title: 48px;
--weight-title: 700;
--size-subtitle: 32px;
--weight-subtitle: 400;
--size-text: 16px;
--weight-text: 600;

--text-color-primary: var(--white-pure);
--text-color-primary-contrast: var(--dark-900);
--text-color-destaque: var(--gradiente-purple);
--background-color-main: var(--dark-1000);
--background-color-primary-button: var(--primary-neon-purple);
--background-color-secundary-button: var(--gradiente-dark-purple);

--blur-filter: blur(20px);

--dark-700: #16153C;
--dark-900: #0A0A0C;
--dark-1000: #000000;
--gradiente-dark-purple: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(105, 59, 147, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
--gradiente-purple: linear-gradient(90deg, #FFF 0%, #A259FF 55.81%);
--gray-neutral: #d3d3d3;
--primary-neon-purple: #A259FF;
--primary-soft-glow: #A08FFF;
--secundary-purple: #A08FFF;
--white-pure: #FFFFFF;
--purple-preenchimento: #2B0B3A;


}

html {
    scroll-behavior: smooth;
}

[id] {
    scroll-margin-top: var(--header-offset);
}

body {
    background-image: url('../assets/imgs/Effects-backsground.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: cover;
    height: 6705px;
    font-family: var(--font-text);
    font-size: var(--size-text);
    font-weight: var(--weight-text);
    background-color:var(--background-color-main);
    color: var(--text-color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-title);
}

section:not(#hero) {
    min-height: 100vh;
    padding: 0 71px;
}
