.projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 173px;
}

.projetos__project-featured {
    display: flex;
    justify-content: center;
}

/* -- reverse -- */
.row-reverse {
    flex-direction: row-reverse;
    text-align: right;
}

.row-reverse .project-featured__info {
    margin-right: 0;
    margin-left: -27px;
}

.project-featured__info {
margin-right: -27px;
}

.header-project__title {
    font-size: 34px;
}

.header-project__subtitle {
    color: var(--Primary-Neon-Purple, #A259FF);
}

.info__header{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info__card-description {
    margin: 30px 0 26px 0;
    padding: 26px 55px 31px 37px;
    width: clamp(100px, 67vw, 670px);
    height: auto;

    font-weight: 400;
    line-height: normal;
}

.card-description__text-description {
    width: 500px;
}

.imagem-projeto {
    max-height: 380px;
    height: auto;
    width: clamp(100px, 67vw, 530px);
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0px 110px 110px rgba(112, 2, 255, 0.158);
}


.more-projects__divider{
  display:flex;
  align-items:center;
  gap:20px;
  margin-bottom:20px;
}

.more-projects__divider::before,
.more-projects__divider::after{
  content:"";
  flex:1;
  height:1px;
  background:linear-gradient(to right, transparent, #6c4cff, transparent);
}

.more-projects__text{
  font-size:14px;
  letter-spacing:2px;
  text-transform:uppercase;
  opacity:.7;
  transition: all 0.4s ease-in;
}

.more-projects__text:hover{
  opacity:1;
  background: radial-gradient( #e6e5ec, #a259ff);
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  color: transparent;
}

