.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

.skills__lista-skills{
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    justify-content: space-between;
}

.lista-skills__container-card {
display: flex;
width: 35%;
height: 190px;
padding: 45px 38px;
flex-direction: column;
gap: 15px;
flex-grow: 1;
background-color: hsla(0, 0%, 0%, 0.5);
}

.container-card__header {
    display: flex;
    align-items: center;
    gap: 18px;
}

.header-skills__title {
    font-size: 28px;
}

.container-card__stack {
    font-weight: 1000;
    font-size: 18px;
}

.container-card__description {
    font-weight: 400;

    line-height: normal;
}

.container-card__tags-skills {
    display: flex;
    gap: 10px;

}