.hero {
	padding-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 5%;
	padding: 50px 0 197px 5%;
	overflow: hidden;
}

.hero__intro {
	display: flex;
	flex-direction: column;
	gap: 26px;
}

.hero__social-list{
	display: flex;
	gap: 41px;
}

.hero__social-link img{
	transition: transform 0.2s ease;
}

.hero__social-link:hover img {
	transform: scale(1.2);
}

.hero__content-main {
display: flex;
flex-direction: column;
justify-content: center;
gap: 24px;
}

.hero__title {
color: var(--white-pure);
font-family: var(--font-family-heading);
font-size: 76px;
font-weight: var(--font-weight-bold);
}

.hero__til-letter {
	display: inline-block;
	position: relative;
	line-height: 1;
}

.hero__til-mark {
	color: var(--color-primary-500);
	position: absolute;
	top: -0.38em;
	left: 0em;
}

.hero__subtitle{
	font-family: var(--font-family-heading);
	font-size: var(--font-size-subtitle);
	font-weight: var(--font-weight-regular);
	letter-spacing: 3.8px;
}

.hero__title,
.hero__subtitle {
	transition: color 0.2s ease, -webkit-text-stroke-color 0.2s ease;
}

.hero__title-group:hover .hero__title,
.hero__title-group:hover .hero__subtitle {
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--color-primary-500);
}

.hero__typing-caret {
	color: var(--color-primary-500);
	animation: piscar 0.7s infinite;
}

@keyframes piscar {
	0%, 50% {
		opacity: 1;
	}
	51%, 100% {
		opacity: 0;
	}
}
.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 79px;
}

.hero__scroll-indicator{
	display: flex;
	font-family: var(--font-family-heading);
	font-size: 	14px;
	font-weight: 300;
	letter-spacing: 7px;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

.hero__scroll-bar {
	width: 1px;
	height: 407px;
	background: var(--white-pure);
	border-radius: 999px;
	position: relative;
}

.hero__scroll-bar::after {
	content: '';
	position: absolute;
	bottom: -8px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 8px solid var(--white-pure);
}

.hero__image {
	max-width: 931px;
	width: 100%;
	max-height: 1073px;
	height: 100%;
	aspect-ratio: 59/68;
}