.projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 173px;
}

.projetos__featured {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -- reverse -- */
.projetos__featured--reverse {
    flex-direction: row-reverse;
    text-align: right;
}

.projetos__featured--reverse .projetos__info {
    margin-right: 0;
    margin-left: -27px;
}

.projetos__info {
margin-right: -27px;
}

.projetos__title {
    font-size: var(--font-size-title);
}

.projetos__subtitle {
    color: var(--color-primary-500);
}

.projetos__header{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.projetos__description {
    margin: 30px 0 26px 0;
    padding: 26px 55px 31px 37px;
    width: clamp(100px, 67vw, 670px);
    height: auto;
}

.projetos__image {
    max-height: 380px;
    height: auto;
    width: clamp(100px, 67vw, 530px);
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0px 110px 110px rgba(112, 2, 255, 0.158);
}
